<!DOCTYPE html>
<html>
	<head>
		<title>Twitter</title>
		<link rel='shortcut icon' type='image/x-icon' href='../public/images/favicon.ico'>
		<link rel='stylesheet' type='text/css' href='../public/css/reset.css'>
		<link rel='stylesheet' type='text/css' href='../public/css/styles.css'>
	</head>
	
	<body>
		<header> 
			<!-- <div class='topbar-container'> -->
				<div class='topbarleft'>
					<a href='#'> <span class='Icon Icon--home'></span> Home</a>
					<a href='#'> <span class='Icon Icon--connect'> </span>Connect </a>
					<a href='#'> <span class='Icon Icon--discover'></span>Discover </a>
					<a href='#'> <span class='Icon Icon--me'></span>Me </a>
				</div>
					<span class='Icon Icon--bird'></span>
				<div class='topbarright'>
					<input class='search' type='text' name='search' placeholder='Search'>
					<a href='#'><span class='Icon Icon--message'></span></a>
					<a href='#'><span class='Icon Icon--setting'></span></a>
					<a href='#' title='compose new tweet'><span class='Icon Icon--tweet'></span></a>
				</div>
			<!-- </div> -->
		</header>

			<div class='container'>
				<aside>
					<section class='profile'>
						<div class='profile-image'>
							profile
						</div>
						<div class='follow-stats'>
							<a href='#'><p>TWEETS <br> <span class='stats'>5</span></p></a> 
							<a href='#'><p>FOLLOWING <br> <span class='stats'>18</span></p></a> 
							<a href='#'><p>FOLLOWERS<br><span class='stats'>120</span></p></a>

						</div>
						<div class='compose-tweet'>
							<textarea class='compose-tweet-field' type='text' name='compose' placeholder='Compose new Tweet...'></textarea>
						</div>
					</section>
					
					<section class='who-follow'>
						Who to follow
					</section>
				</aside>

				<section class='tweet-feed'>
					<div class='tweet-feed-header'> <h1>Tweets</h1> </div>
					
					<div class='tweet-feed-post'>
						<aside>
							<img class='tweeter-pro-img' src='../public/images/derren_brown.jpeg'>
						</aside>
						<section>
							<div class='tweeter-name'>
								<p> <a href=''>Derren Brown</a> @DerrenBrown </p>
							</div>
							<div class='tweeter-tweet'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna arcu, venenatis id lacus quis, volutpat semper velit. Nulla convallis neque non luctus tristique. V </p>
							</div>							
						</section>
					</div>

					<div class='tweet-feed-post'>
						<aside> <img class='tweeter-pro-img' src='../public/images/times.png'> </aside>
						<section>
							<div class='tweeter-name'>
								<p> <a href=''>TIME.com</a> @TIME </p>
							</div>
							<div class='tweeter-tweet'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							</div>							
						</section>
					</div>

					<div class='tweet-feed-post'>
						<aside> <img class='tweeter-pro-img' src='../public/images/biwek.png'> </aside>
						<section>
							<div class='tweeter-name'>
								<p> <a href=''>Biwek</a> @biwek </p>
							</div>
							<div class='tweeter-tweet'>
								<p>This is amazing!! <a href='#'> pic.twitter.com/aianwkJQhw </a></p>
								<img src='../public/images/coding.jpg'>
							</div>							
						</section>
					</div>

					<div class='tweet-feed-post'>
						<aside> <img class='tweeter-pro-img' src='../public/images/derren_brown.jpeg'> </aside>
						<section>
							<div class='tweeter-name'>
								<p> <a href=''>Derren Brown</a> @DerrenBrown </p>
							</div>
							<div class='tweeter-tweet'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna arcu, venenatis id lacus quis, volutpat semper velit. </p>
							</div>							
						</section>
					</div>

					<div class='tweet-feed-post'>
						<aside> <img class='tweeter-pro-img' src='../public/images/manutd.jpeg'> </aside>
						<section>
							<div class='tweeter-name'>
								<p> <a href=''>Manchester United</a> @ManUtd </p>
							</div>
							<div class='tweeter-tweet'>
								<p>Vestibulum urna arcu, venenatis id lacus quis, volutpat semper velit. Nulla convallis neque non luctus tristique. V </p>
							</div>							
						</section>
					</div>

					<div class='tweet-feed-post'>
						<aside> <img class='tweeter-pro-img' src='../public/images/juan.jpeg'> </aside>
						<section>
							<div class='tweeter-name'>
								<p> <a href=''>Juan Mata Garcia</a> @juanmata8 </p>
							</div>
							<div class='tweeter-tweet'>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Nulla convallis neque non luctus tristique. V </p>
							</div>							
						</section>
					</div>

					<div class='spinner-feed-post'> <div id='spinner-container'></div></div>

				</section>
			</div>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
		<script src='../public/js/application.js'></script>
		<script src='../public/js/spin.js'></script>

	</body>

	<footer> </footer>
</html>